absl-py==0.7.1
astor==0.7.1
astroid==1.6.6
Click==7.0
Cython==0.29.7
Django==2.2.1
fasttext==0.8.3
Flask==0.12.2
Flask-Cors==3.0.3
future==0.17.1
gast==0.2.2
grpcio==1.19.0
grpcio-tools==1.19.0
gunicorn==19.7.1
h5py==2.9.0
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
languageflow==1.1.9a1
lazy-object-proxy==1.4.1
Markdown==3.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.4
nltk==3.4
numpy==1.16.3
protobuf==3.7.1
py==1.8.0
pydub==0.23.1
pylint==1.8.2
pymongo==3.3.1
pytest==3.0.6
python-crfsuite==0.9.6
pytz==2019.1
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
SpeechRecognition==3.8.1
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
underthesea==1.1.15
Werkzeug==0.15.2
wrapt==1.11.1
